/*usar esto para set el font de la pagina*/
body {
    font-family: "Jost", sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #F6F4EB;
    font-size: clamp(1rem, 6vw, 1.25rem);
    max-width: 100%;
}

.body-text{
    padding-left: 5%;
    padding-top: 30%;
    padding-right: 10%;
}

h1 {
    font-size: clamp(1.5rem, 6vw, 4rem);
}

h2 {
    font-size: clamp(1.5rem, 3.5vw, 2.5em);
}

h3 {
    font-style: italic;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

#contact-footer {
    border-top: 2px solid black;
    margin-top: 5%;
}

#contact-me {
    max-width: 100%;
    padding: 5% 8% 5%; 
}

.service{
    border-bottom: 2px solid black;
    margin-bottom: 5%;
}

#pricing {
    max-width: 100%;
    background-color: #91C8E4; 
    margin-top: 5%;
    padding: 5% 8% 5%;
    border-radius: 25px;
}

blockquote {
    padding-left: 5%;
    font-style: italic;
    font-weight: 300;
}

blockquote p {
    color: black;
}

blockquote a {
    color: black;
}

blockquote a:hover {
    background-color: #91C8E4;
}

.highlight {
    background-color: #749BC2;
}

/*aca es donde escojo el color de fondo de los items del menu*/
.nav-item:hover {
    background-color: #91C8E4;
}

/*aca es para separar el espacio entre los items del menu*/
.nav-item{
    padding-right: 0%;
}

/* aca es donde fijo el navigation menu bar para que siempre este visible */

.navbar {
    position: fixed;
    width: 100%;
    background-color: #F6F4EB;
}

/* esto hace que el menu quede por encima de todo lo demas, incluyendo los acordiones*/
nav {
    z-index: 9999;
}

/* esto corresponde al boton del menu*/
.btn-primary {
    --bs-btn-bg: #91C8E4;
    --bs-btn-border-color: #91C8E4;
    --bs-btn-hover-bg: #749BC2;
    --bs-btn-hover-border-color: #749BC2;
    font-size: clamp(1rem, 6vw, 1.25rem);
    margin-right
}

/* esto corresponde a los botones dentro del body, es decir, los que no son el del menu de navegacion*/
.btn-secondary {
    --bs-btn-bg: #749BC2;
    --bs-btn-border-color: #91C8E4;
    --bs-btn-hover-bg: #4682A9;
    --bs-btn-hover-border-color: #4682A9;
    vertical-align: middle;
    text-align: center;
    line-height: 0 px;
    align-items: center;
    position: relative;
    justify-content: center;
    font-size: clamp(1rem, 6vw, 1.25rem);
}

.testimonial {
    font-size: clamp(1rem, 6vw, 1.25rem);
    padding: 5% 8% 2%;
    border-radius: 25px;
    margin-bottom: 5%;
    transition: all ease-in-out 1.2s;
    border: solid;
}

.testimonial:hover {
    box-shadow: 10px -5px #91C8E4;
    transition: 1s;
}

/* en los siguientes tres elementos se define el grid layout para los quotes de la pagina de servicios */
.testimonial:nth-child(1){
    grid-area: one;
}

.testimonial:nth-child(2){
    grid-column: two;
}

.testimonial:nth-child(3) {
	grid-area: three;
} 

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
  }

  .button p {
    margin-top 0;
    margin-bottom:  0;
  }

/*esta y la siguiente clase definen el efecto de los links dentro del body*/
.no_class {
    color:inherit;
    text-decoration:inherit;
    font-weight: bold;
}

a.no_class:hover {
    background-color: #91C8E4;
}

/*este sirve en casos cuando el background color es el mismo que el hover, por ejemplo, en la seccion de pricing en la p[agina de servicios*/
.secondary-link {
    color:inherit;
    text-decoration:inherit;
    font-weight: bold;
}

a.secondary-link:hover {
    background-color: #F6F4EB !important;
}

/* Esto corresponde a los formatos del acordeon*/

.accordion{
    --bs-accordion-btn-color: black;
    --bs-accordion-btn-bg: #91C8E4;
    --bs-accordion-border-color: #91C8E4;
    --bs-accordion-btn-focus-box-shadow: 0 #F6F4EB;
    --bs-accordion-bg: #F6F4EB;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #749BC2;
    border-radius: 25px;
}

.accordion-body {
    background-color: #91C8E4;
    margin-bottom: 3%;
    border-radius: 25px;
}

.accordion-flush>.accordion-item>.accordion-header .accordion-button, .accordion-flush>.accordion-item>.accordion-header .accordion-button.collapsed {
    border-radius: 25px;
    font-size: clamp(1rem, 6vw, 1.25rem);
}

.accordion-header {
    max-width: 80%;
}

#my-work .accordion-header {
    max-width: 80%;
}

/* Contact form */
input {
    border-radius: 20px;
    padding-left: 15px;
    border: none;
    margin-bottom: 10px;
    width: 40%;
}

.contact {
    background-color: #91C8E4;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.contact p {
    margin-left: 15px;
}

.contact h2 {
    margin-bottom: 30px;
}

.input-message {
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    width: 60%;
}

/*responsive*/
@media (min-width: 400px) {
    .body-text{
        padding-top: 15%;
    }

    .accordion-header {
        max-width: 90%;
    }
}

@media (min-width: 576px) {
    .container .body-text{
        float:left;
        max-width: 80%;
    }

    .accordion-header {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .container .body-text{
        float:left;
        max-width: 60%;
    }

    .body{
        max-width: 70%;
    }

    .body-text{
        padding-top: 15%;
    }

    .accordion-header {
        max-width: 70%;
    }

    .testimonial {
        padding: 10% 8% 10%;
    }

    #my-work .accordion-header {
        max-width: 60%;
    }

    #grid-quotes {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-template-areas: 
        'one three'
        'two three';
        min-width: 100%;
    }
}

@media (min-width: 992px) {
    .container .body-text{
        float:left;
        max-width: 40%;
    }

    .body-text{
        padding-top: 10%;
        padding-right: 30%;
    }
}

@media (min-width: 1200px) {
    .container .body-text{
        float:left;
        max-width: 40%;
    }

    .body-text{
        padding-top: 8%;
        padding-right: 30%;
    }

    .accordion-header {
        max-width: 60%;
    }

    #grid-quotes {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-areas: 
        'one three'
        'two three';
        min-width: 100%;
    }
}